

<div>
<h1>les vaisseauxlll</h1>
<a class="btn btn-primary" routerLink="/vaisseaux/ajout">Ajouter un vaisseau</a>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Model</th>
      <th scope="col">Vitess/lumière</th>
      <th scope="col">Nombre passager</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.vaisseaux">
      <th scope="row">{{item.id}}</th>
      <td>{{item.nom}}</td>
      <td>{{item.model}}</td>
      <td>{{item.lightSpeed}}</td>
      <td>{{item.nbPassenger}}</td>
      <td><a class="btn btn-primary" [routerLink]="['/vaisseau',item.id]">Voir le détail de la vaisseau {{item.nom}}</a></td>
    </tr>

  </tbody>
</table>
<img src="https://lh3.googleusercontent.com/proxy/pztKAXuz4I1PTDEKzgc9Vavmo34e7Vsvfvv1gTEplSD3jIwDwKu0XoHqdxWqb0ZdzEbq08VKLNIiQWs9zTKRToHSXRaf29C-2cgupVuaQs42rsKfpUCRAhdLFyImEJWMdNIWFg" alt="">
<img src="https://cdn.futura-sciences.com/buildsv6/images/mediumoriginal/4/6/6/4666c04b68_117177_06-631.jpg">
</div>
