<div>
  <h1>les Planètes</h1>
  <a class="btn btn-primary" routerLink="/planets/ajout">Ajouter une planète</a>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Nombre Habitant</th>
      <th scope="col">Allegiance</th>
      <th scope="col">Distance en parsec de la terre</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.planet">
      <th scope="row">{{item.id}}</th>
      <td>{{item.nom}}</td>
      <td>{{item.nbHabitant}}</td>
      <td>{{item.allegiance}}</td>
      <td>{{item.nbKmTerre}}</td>
      <td><a class="btn btn-primary" [routerLink]="['/planets',item.id]">Voir le détail de la planete {{item.nom}}</a></td>
    </tr>

  </tbody>
</table>




</div>



