
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">HOME</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/planete">PLANETES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vaisseaux">Vaisseaux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="vaisseaux/ajout">Ajouter un vaisseau</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="planets/ajout">Ajouter une planète</a>
      </li>
    </ul>
  </div>
</nav>
